# DALBERG DATA INSIGHTS

Karamoja is the most food-insecure region of Uganda. One of the main reasons is the low productivity level of the crops due to intense droughts as well as pest and disease outbreaks.

Regarding the last bullet, "open-ended" means the student chooses the EDA that is performed. The student should have at least three types of data analysis (e.g., mean, standard deviation) and at least three types of graphs (e.g., historgram, bar graph). The student will explain why those variables were chosen for numerical or graphical analysis. Finally, the student will make note of any unusual values for any variable that is analyzed.

### Research Objectives

*

### Data

There are two tables provided for us. The tables are in form of a CSV File (Comma Separated Values). We can import them into a dataframe using pandas:

In [35]:
# Import pandas and csv for importing the data into a dataframe
import pandas as pd
import csv

# Let's name the dataframe as df
df = pd.read_csv('DATA/TABLES/Uganda_Karamoja_District_Crop_Yield_Population.csv', index_col=0)

In [36]:
# Preview the shape of the DataFrame
df.shape

(7, 10)

In [37]:
# Preview the DataFrame
df

,NAME,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
OBJECTID,,,,,,,,,,
92,ABIM,90385,2771977106,449,1040,5470.068394,3277.295971,1848.621855,1471506,1922567
96,AMUDAT,101790,1643582836,205,1297,5765.443719,2973.423860,2733.661014,609552,3545558
20,KAABONG,627057,7373606003,279,945,28121.672530,20544.194960,7394.416334,5731830,6987723
85,KOTIDO,243157,3641539808,331,1148,53032.649450,50247.443900,1751.372284,16631904,2010575
5,MOROTO,127811,3570160948,128,355,5954.814048,4741.748776,1190.050606,606944,422468
54,NAKAPIRIPIRIT,146780,4216323900,356,1264,26372.698490,19237.333210,6425.788414,6848491,8122197
80,NAPAK,167625,4508782023,137,854,22944.296020,16142.015880,6543.719066,2211456,5588336

In [38]:
# Let's check for any missing values in the data
df.isna().sum()

NAME            0
POP             0
Area            0
S_Yield_Ha      0
M_Yield_Ha      0
Crop_Area_Ha    0
S_Area_Ha       0
M_Area_Ha       0
S_Prod_Tot      0
M_Prod_Tot      0
dtype: int64

From the above code it is evident that there are no missing values in the dataframe. Next let's check for any duplicated values in the dataframe using `.duplicated()` method:

In [39]:
# Let's check for any duplicated values in the dataframe
df.duplicated().sum()

0

The dataframe then needs to be converted to an excel file for easier importing into Tableau for visualization. This can be done using `.to_excel()` method:

In [43]:
df.to_excel('DATA/TABLES/Karamoja District.xlsx', index = False)

There are no duplicated values in the dataframe. Let's now move on to the next dataset.

In [21]:
df1 = pd.read_csv('DATA/TABLES/Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv', index_col = 0)

In [22]:
# Let's view the sape of the dataframe
df1.shape

(52, 12)

In [23]:
# Let's preview the first five rows of the dataframe to get an idea of the dataframe
df.head()

,NAME,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
OBJECTID,,,,,,,,,,
92,ABIM,90385,2771977106,449,1040,5470.068394,3277.295971,1848.621855,1471506,1922567
96,AMUDAT,101790,1643582836,205,1297,5765.443719,2973.423860,2733.661014,609552,3545558
20,KAABONG,627057,7373606003,279,945,28121.672530,20544.194960,7394.416334,5731830,6987723
85,KOTIDO,243157,3641539808,331,1148,53032.649450,50247.443900,1751.372284,16631904,2010575
5,MOROTO,127811,3570160948,128,355,5954.814048,4741.748776,1190.050606,606944,422468

Next let's check for any missing values in the dataframe:

In [24]:
df1.isna().sum()

SUBCOUNTY_NAME    0
DISTRICT_NAME     0
POP               0
Area              0
Karamoja          0
S_Yield_Ha        0
M_Yield_Ha        0
Crop_Area_Ha      0
S_Area_Ha         0
M_Area_Ha         0
S_Prod_Tot        0
M_Prod_Tot        0
dtype: int64

None of the columns have any missing values. Next, let's check for any duplicated values in the dataframe:

In [26]:
df1.duplicated().sum()

0

From the code above it is evident that there are no duplicated values in the dataframe. Next let's convert the dataframe into an excel file:

In [44]:
df1.to_excel('DATA/TABLES/Karamoja Subcounty.xlsx', index = False)