# DALBERG DATA INSIGHTS

Karamoja is the most food-insecure region of Uganda, primarily due to low crop productivity which is exacerbated by intense droughts, pest infestations and disease outbreaks. These challenges significantly impact crop production in area particularly for the region's stable foods; maize and sorghum.
Several NGOs operate in Karamoja providing technical support as well as farm inputs to farmers being faced by extremely low crop yields. However, these NGOs lack a clear perspective of the region and often rely on local sources to plan their interventions effectively. This gap in data makes it difficult for the NGOs to identify regions that require their support. Because of this, Dalberg Data Insights (DDI) have been engaged in order to develop a new food security monitoring tool that the NGOs will use to make informed decisions. This has been made possible by the use of satellite imagery to measure crop yields for sorghum and maize.
The Insight derived will be used by the NGOs to make informed decisions on which regions require more help and support in order to curb the food insecurity crisis in these areas.

### Research Objectives

* To determine the Districts with the lowest crop production.
* To analyze the yield efficiency of sorghum vs maize across different districts.
* To determine the Districts that have large crop areas but low yield efficiency.
* To compare total crop production with the population to estimate food security risk.


### Research Questions

* Which districts have the lowest crop production?
* What are the yield efficiencies of sorghum vs maize across different districts?
* Which districts have large crop areas but low yield efficiency?
* Which districts have food security risk when comparing total production with the population?

To access my **Presentation ([Click here](https://docs.google.com/presentation/d/1i4j1Yt0YqSS1hGdBKDUrxTbWW_97ruRWyhI0Hb0r_Sk/edit?usp=sharing))**

To access my **Tableau Dashboard ([Click here](https://public.tableau.com/app/profile/brian.arthur1141/viz/DalbergDataInsights/Dashboard1))**

### Loading Dataset 1

There are two tables provided for us. The tables are in form of a CSV File (Comma Separated Values). We can import them into a dataframe using pandas:

In [1]:
# Import pandas and csv for importing the data into a dataframe
import pandas as pd
import csv

# Let's name the dataframe as df. index_col=0 will set the first column as the index column to avoid creating another extra
# index column
df = pd.read_csv('DATA/TABLES/Uganda_Karamoja_District_Crop_Yield_Population.csv', index_col=0)

In [2]:
# Preview the shape of the DataFrame
df.shape

(7, 10)

Let's inspect the contents of the dataframe:

In [3]:
# Preview the DataFrame
df

,NAME,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
OBJECTID,,,,,,,,,,
92,ABIM,90385,2771977106,449,1040,5470.068394,3277.295971,1848.621855,1471506,1922567
96,AMUDAT,101790,1643582836,205,1297,5765.443719,2973.423860,2733.661014,609552,3545558
20,KAABONG,627057,7373606003,279,945,28121.672530,20544.194960,7394.416334,5731830,6987723
85,KOTIDO,243157,3641539808,331,1148,53032.649450,50247.443900,1751.372284,16631904,2010575
5,MOROTO,127811,3570160948,128,355,5954.814048,4741.748776,1190.050606,606944,422468
54,NAKAPIRIPIRIT,146780,4216323900,356,1264,26372.698490,19237.333210,6425.788414,6848491,8122197
80,NAPAK,167625,4508782023,137,854,22944.296020,16142.015880,6543.719066,2211456,5588336

Next, check summary statistics of the dataset using `.describe()` method:

In [4]:
df.describe()

,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
count,7.000000,7.000000e+00,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000e+00,7.000000e+00
mean,214943.571429,3.960853e+09,269.285714,986.142857,21094.520379,16737.636651,3983.947082,4.873098e+06,4.085632e+06
std,188604.280916,1.781860e+09,119.243049,321.566700,17363.854165,16625.963460,2678.911441,5.743724e+06,2.877188e+06
min,90385.000000,1.643583e+09,128.000000,355.000000,5470.068394,2973.423860,1190.050606,6.069440e+05,4.224680e+05
25%,114800.500000,3.171069e+09,171.000000,899.500000,5860.128883,4009.522373,1799.997070,1.040529e+06,1.966571e+06
50%,146780.000000,3.641540e+09,279.000000,1040.000000,22944.296020,16142.015880,2733.661014,2.211456e+06,3.545558e+06
75%,205391.000000,4.362553e+09,343.500000,1206.000000,27247.185510,19890.764085,6484.753740,6.290160e+06,6.288030e+06
max,627057.000000,7.373606e+09,449.000000,1297.000000,53032.649450,50247.443900,7394.416334,1.663190e+07,8.122197e+06

### Data Preparation of Dataset 1

This is an important step in data analysis as this is where data is cleaned to ensure the dataset is accurate, complete  and reliable.

The first step of the data cleaning will be handling missing data. We can check for any missing data using the `.isna()` method:

In [5]:
# Let's check for any missing values in the data
df.isna().sum()

NAME            0
POP             0
Area            0
S_Yield_Ha      0
M_Yield_Ha      0
Crop_Area_Ha    0
S_Area_Ha       0
M_Area_Ha       0
S_Prod_Tot      0
M_Prod_Tot      0
dtype: int64

From the above code it is evident that there are no missing values in the dataframe. Next let's check for any duplicated values in the dataframe using `.duplicated()` method:

In [6]:
# Check for any duplicated values in the dataframe
df.duplicated().sum()

0

There are no duplicated values in the dataframe. The next step is converting the dataframe into ax excel file for easier importing into Tableau for visualization. This can be done using `.to_excel()` method:

In [7]:
# Save the DataFrame to an Excel file named Karamoja District
df.to_excel('DATA/TABLES/Karamoja District.xlsx')

### Loading Dataset 2

In [8]:
# Let's name the dataframe as df1 then set the first column as the index column
df1 = pd.read_csv('DATA/TABLES/Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv', index_col = 0)

In [9]:
# Let's view the sape of the dataframe
df1.shape

(52, 12)

Next, let's preview the first five rows of the dataframe in order to get an idea of the dataset:

In [10]:
# Preview the first five rows of the dataframe
df.head()

,NAME,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
OBJECTID,,,,,,,,,,
92,ABIM,90385,2771977106,449,1040,5470.068394,3277.295971,1848.621855,1471506,1922567
96,AMUDAT,101790,1643582836,205,1297,5765.443719,2973.423860,2733.661014,609552,3545558
20,KAABONG,627057,7373606003,279,945,28121.672530,20544.194960,7394.416334,5731830,6987723
85,KOTIDO,243157,3641539808,331,1148,53032.649450,50247.443900,1751.372284,16631904,2010575
5,MOROTO,127811,3570160948,128,355,5954.814048,4741.748776,1190.050606,606944,422468

###  Data Preparation of Dataset 2

The first step is checking for any missing values in the dataset using `.isna()` method:

In [11]:
# .sum() parameter returns the sum of missing data in the columns.
df1.isna().sum()

SUBCOUNTY_NAME    0
DISTRICT_NAME     0
POP               0
Area              0
Karamoja          0
S_Yield_Ha        0
M_Yield_Ha        0
Crop_Area_Ha      0
S_Area_Ha         0
M_Area_Ha         0
S_Prod_Tot        0
M_Prod_Tot        0
dtype: int64

None of the columns have any missing values. Next, let's check for any duplicated values in the dataframe:

In [12]:
# Check for any duplicated values
df1.duplicated().sum()

0

From the code above it is evident that there are no duplicated values in the dataframe. Next let's convert the dataframe into an excel file:

In [13]:
df1.to_excel('DATA/TABLES/Karamoja Subcounty.xlsx')

## Data Visualization

The data visualization has been done in Tableau.

## Findings

**Objective 1: To determine the Districts with the lowest crop production.**

Moroto District was found to have the lowest crop production overall while Nakapiripirit had the highest crop production.
When focusing on the individual crops, Nakapiripirit District had the highest maize production while Moroto had the lowest maize production. Modito District has the highest sorghum production while Moroto District has the lowest sorghum production.

**Objective 2: To analyze the yield efficiency of sorghum vs maize across different districts.**

Moroto District once more had the lowest overall yield efficiency of both maize and sorghum while Amudat had the highest yield efficiency. In the maize production, Amudat District has the highest yield per hectare while Moroto has the lowest yield per hectare in both maize and sorghum production. Abim District has the highest yield per hectare in sorghum production.

**Objective 3: To determine the Districts that have large crop areas but low yield efficiency.**

Kodito District has a high crop area but relatively low crop yield with regard to the size of the crop area. This shows that the farming areas are not put o maximum use in order to produce yields relative to the size of the farming land.

**Objective 4: To compare total crop production with the population to estimate food security risk.**

Kabong District has a high population but the total crop production wasn’t as high and didn’t match the high population. This shows that the amount of crop production in the area is relatively lower than what is needed to cater for the whole population.

## Recommendations

* The NGO should focus most of the support on  Morito District as it has both the lowest crop production and yield efficiency. 
* The NGO should aim to expand the farming areas in Kabong District or introduce modern, efficient farming techniques that will boost crop production and help cater for the huge population in the District.
* The NGO should introduce other crops in the Karamoja Area that are more pest and famine resistant. This will increase the overall crop production in the area and help curb the food insecurity issue.

## Further Work

* I would analyze how the key variables change over time in order to establish any seasonal patterns affecting the crop production.
* I would also compare the data available with external data such as climate and weather data, the distribution of pests in the region and soil variations
* I would use geospatial data to compare between the land already being used for farming in order to find new areas for expansion of farming land.